<mat-sidenav-container class="sidenav-container" >
  @let isHandset = isHandset$ | async;
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport
    [mode]="isHandset ? 'over' : 'side'"
  >
    <mat-nav-list>
      @if(isAuthenticated$ | async) {
        <a mat-list-item routerLink="/bienvenido" routerLinkActive="active">Bienvenido</a>
        <a mat-list-item routerLink="/personas" routerLinkActive="active">Personas</a>
        <a mat-list-item routerLink="/notes" routerLinkActive="active">Notes</a>
        <a mat-list-item routerLink="/logout" routerLinkActive="active">Logout</a>
      } @else {
        <a mat-list-item routerLink="/login" routerLinkActive="active">Login</a>
        <a mat-list-item routerLink="/registrarse" routerLinkActive="active">Registrarse</a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if(isHandset) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      }

      <span>Sistema CID</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
