.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
  background-color: var(--cid-primary-10);
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.content {
  padding: 0 16px;
  height: calc(100vh - 64px);
  overflow: auto;
}
