<div class="cid-full-height-centered-content">
  <h1>{{ modo === 'agregar' ? 'Agregar' : 'Editar' }} Persona</h1>
  <form [formGroup]="editarPersonaForm" (ngSubmit)="onSubmit()" class="cid-vertical-form">

    <mat-form-field appearance="fill">
      <mat-label>Nombre(s)</mat-label>
      <input matInput formControlName="nombre" type="text"/>
      @if (editarPersonaForm.get('nombre')?.hasError('required')) {
        <mat-error>Se requiere un nombre</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellido Paterno</mat-label>
      <input matInput formControlName="apellidoPaterno" type="text"/>
      @if (editarPersonaForm.get('apellidoPaterno')?.hasError('required')) {
        <mat-error>Se requiere un primer apellido</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellido Materno</mat-label>
      <input matInput formControlName="apellidoMaterno" type="text"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="correo" type="email"/>
      @if (editarPersonaForm.get('correo')?.hasError('email')) {
        <mat-error>Introduzca un correo electrónico válido</mat-error>
      }
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" formControlName="sexo">
      <mat-radio-button value="Masculino">Masculino</mat-radio-button>
      <mat-radio-button value="Femenino">Femenino</mat-radio-button>
    </mat-radio-group>

    <button mat-raised-button color="primary" type="submit" [disabled]="editarPersonaForm.invalid || isLoading">
      {{ modo === 'agregar' ? 'Agregar' : 'Guardar' }}
    </button>
  </form>
</div>
