<div class="cid-full-height-centered-content">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="cid-vertical-form">
    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Se requiere un correo electrónico
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Introduzca un correo electrónico válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Se requiere una contraseña
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</div>
