<div class="space-between">
  <h1>Aportaciones</h1>
  <a mat-stroked-button color="primary" [routerLink]="['agregar']">Agregar una aportación</a>
</div>
@if(isLoading()) {
  <app-page-loader></app-page-loader>
} @else {
  @if(aportaciones().length === 0) {
    <div>No hay aportaciones</div>
  } @else {
    <table mat-table [dataSource]="aportaciones()" class="mat-elevation-z8">

      <ng-container matColumnDef="persona">
        <th mat-header-cell *matHeaderCellDef>Persona</th>
        <td mat-cell *matCellDef="let element"> {{element.personaNombre}} </td>
      </ng-container>

      <ng-container matColumnDef="concepto">
        <th mat-header-cell *matHeaderCellDef>Concepto</th>
        <td mat-cell *matCellDef="let element"> {{element.concepto}} </td>
      </ng-container>

      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let element"> {{element.monto | currency:'MXN'}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.fecha | date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="goToAportacion(row)"
      ></tr>
    </table>
  }
}
